@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-gray-900 text-gray-100 m-0 p-0;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  * {
    @apply border-gray-700;
  }
}