@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-gray-900 text-gray-100;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}